<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default: 'My Simple Site' }}</title>
    <link rel="stylesheet" href="./egao.css">
    <link rel="stylesheet" href="./index.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="flex min-h-screen">
    <!-- Sidebar Navigation -->
    <aside class="w-64 p-4 border-r border-gray-200">
      <ul class="list">
        <li class=""><a href="/" class="link list-row">Getting Started</a></li>
        <li class=""><a href="/classes" class="link list-row">Classes</a></li>
      </ul>
    </aside>

    <!-- Main Content Area -->
    <main class="flex-1 p-4">
      {{ content }}
    </main>
  </body>
</html>
