# build output
build

# dependencies
node_modules

# misc
.DS_Store
*.pem
*.env
.env
.env.*
.vscode

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# local files
website/
tsconfig.json
postcss.config.js
src/
package-lock.json
.gitignore
