/* Kaomoji CSS API */
/* Test comment - testing file watch */
:root {
  --base-space: 0.6em;
  --base-animation-duration: 0.5s;
}

/* base components */
.kaomoji {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 1em;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
}

.layer>* {
  width: -moz-max-content;
  width: max-content;
}

/* Spacing Utilities */
.space {
  margin: 0 var(--base-space);
}

.space-double {
  margin: 0 calc(var(--base-space) * 2);
}

.space-triple {
  margin: 0 calc(var(--base-space) * 3);
}

.space-half {
  margin: 0 calc(var(--base-space) * 0.5);
}

.space-quarter {
  margin: 0 calc(var(--base-space) * 0.25);
}

/* Dynamic classes will be generated here by postcss-kaomoji-plugin */

.arms-hugging::after {
  content: "つ";
}

.arms-out-left::after {
  content: "＼";
}

.arms-out-right::after {
  content: "／";
}

.arms-raised-fist-left::after {
  content: "٩";
}

.arms-raised-fist-right::after {
  content: "۶";
}

.arms-raised-left::after {
  content: "╰";
}

.arms-raised-right::after {
  content: "╯";
}

.arms-thumbs-up::after {
  content: "d";
}

.blush::after {
  content: "⁄ ⁄ ⁄";
  white-space: pre;
}

.body-bear-left::after {
  content: "ʕ";
}

.body-bear-right::after {
  content: "ʔ";
}

.body-round-left::after {
  content: "(";
}

.body-round-right::after {
  content: ")";
}

.body-square-left::after {
  content: "[";
}

.body-square-right::after {
  content: "]";
}

.eyes-distress-left::after {
  content: "ᗒ";
}

.eyes-distress-right::after {
  content: "ᗕ";
}

.eyes-excited-left::after {
  content: ">";
}

.eyes-excited-right::after {
  content: "<";
}

.eyes-fury-left::after {
  content: "◣";
}

.eyes-fury-right::after {
  content: "◢";
}

.eyes-line-bliss::after {
  content: "￣";
}

.eyes-line-happy::after {
  content: "⁀";
}

.eyes-o-bear::after {
  content: "•";
}

.eyes-o-disapproving::after {
  content: "ಠ";
}

.eyes-o-happy::after {
  content: "◕";
}

.eyes-o-sad::after {
  content: "⊙";
}

.eyes-o-tiny::after {
  content: "°";
}

.eyes-side-look::after {
  content: "￢";
}

.eyes-sunglasses::after {
  content: "▼";
}

.eyes-tear-despair::after {
  content: "꒦ີ";
}

.eyes-tear-double::after {
  content: "╥";
}

.eyes-tear-heart::after {
  content: "ಥ";
}

.eyes-tear-heart-side::after {
  content: "ಡ";
}

.eyes-tear-single::after {
  content: "T";
}

.eyes-very-excited-left::after {
  content: "≧";
}

.eyes-very-excited-right::after {
  content: "≦";
}

.face-angry::after {
  content: "ಠ 益 ಠ";
}

.face-animal::after {
  content: "• ᴥ •";
}

.face-despair::after {
  content: "꒦ິ꒳꒦ີ";
}

.face-excited::after {
  content: "˃ᴗ˂";
}

.face-happy::after {
  content: "￣ ▽ ￣";
}

.face-sly::after {
  content: "￢‿￢";
}

.face-smile-awkward::after {
  content: "⌒_⌒";
}

.face-smug::after {
  content: "￣︶￣";
}

.face-tearful::after {
  content: "╥﹏╥";
}

.face-very-excited::after {
  content: "≧▽≦";
}

.face-very-smug::after {
  content: "￣ω￣";
}

.face-wide-happy::after {
  content: "◕‿◕";
}

.mouth-animal::after {
  content: "ᴥ";
}

.mouth-disapproval::after {
  content: "︿";
}

.mouth-disapproval-slanted::after {
  content: "ヘ";
}

.mouth-downturned-small::after {
  content: "꒳";
}

.mouth-flipped::after {
  content: "∀";
}

.mouth-frown::after {
  content: "益";
}

.mouth-kata::after {
  content: "ヮ";
}

.mouth-m::after {
  content: "ｍ";
}

.mouth-pouting-left::after {
  content: "ε";
}

.mouth-pouting-right::after {
  content: "з";
}

.mouth-smile::after {
  content: "‿";
}

.mouth-smile-small::after {
  content: "ᴗ";
}

.mouth-smug::after {
  content: "︶";
}

.mouth-square::after {
  content: "口";
}

.mouth-square-slanted::after {
  content: "Д";
}

.mouth-square-slanted-small::after {
  content: "д";
}

.mouth-square-small::after {
  content: "□";
}

.mouth-squiggly::after {
  content: "﹏";
}

.mouth-triangle-down::after {
  content: "▽";
}

.mouth-triangle-up::after {
  content: "△";
}

.mouth-tulip::after {
  content: "ᗢ";
}

.mouth-tulip-down::after {
  content: "ᗣ";
}

.mouth-tulip-side::after {
  content: "ᗤ";
}

.mouth-very-smug::after {
  content: "ω";
}

.sweat::after {
  content: ";";
}

.veins::after {
  content: "╬";
}