/* Kaomoji CSS API */
/* Test comment - testing file watch */
:root {
  --base-space: 0.6em;
  --base-animation-duration: 0.5s;
}

/* base components */
.kaomoji {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 1em;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
}

.layer>* {
  width: -moz-max-content;
  width: max-content;
}

/* Spacing Utilities */
.space {
  margin: 0 var(--base-space);
}

.space-double {
  margin: 0 calc(var(--base-space) * 2);
}

.space-triple {
  margin: 0 calc(var(--base-space) * 3);
}

.space-half {
  margin: 0 calc(var(--base-space) * 0.5);
}

.space-quarter {
  margin: 0 calc(var(--base-space) * 0.25);
}

/* Dynamic classes will be generated here by postcss-kaomoji-plugin */

.body-round-left::after {
  content: "(";
}

.body-round-right::after {
  content: ")";
}

.arms-hugging::after {
  content: "つ";
}

.face-happy::after {
  content: "￣ ▽ ￣";
}

.face-angry::after {
  content: "ಠ 益 ಠ";
}

.face-smile-awkward::after {
  content: "⌒_⌒";
}

.eyes-line-bliss::after {
  content: "￣";
}

.eyes-line-happy::after {
  content: "⁀";
}

.eyes-side-look::after {
  content: "￢";
}

.eyes-excited-left::after {
  content: ">";
}

.eyes-excited-right::after {
  content: "<";
}

.eyes-very-excited-left::after {
  content: "≧";
}

.eyes-very-excited-right::after {
  content: "≦";
}

.eyes-o-disapproving::after {
  content: "ಠ";
}

.eyes-o-tiny::after {
  content: "°";
}

.eyes-o-happy::after {
  content: "◕";
}

.eyes-o-sad::after {
  content: "⊙";
}

.blush::after {
  content: "⁄ ⁄ ⁄";
  white-space: pre;
}

.veins::after {
  content: "╬";
}

.sweat::after {
  content: ";";
}

.sparkles::after {
  content: "✧ ✧ ✧";
  white-space: pre;
}