/* Kaomoji CSS API */

.flip-h {
  transform: rotateY(180deg);
}

.flip-v {
  transform: rotateX(180deg);
}

/* base components */
.kaomoji {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 1em;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
}

.layer > * {
  width: max-content;
}

/* Dynamic classes will be generated here by postcss-kaomoji-plugin */
