/* Kaomoji CSS API */
:root {
  --base-space: 0.6em;
  --base-animation-duration: 0.5s;
}

/* base components */
.kaomoji {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 1em;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
}

/* Spacing Utilities */
.space {
  margin: 0 var(--base-space);
}
.space-double {
  margin: 0 calc(var(--base-space) * 2);
}
.space-triple {
  margin: 0 calc(var(--base-space) * 3);
}
.space-half {
  margin: 0 calc(var(--base-space) * 0.5);
}
.space-quarter {
  margin: 0 calc(var(--base-space) * 0.25);
}

.blush:after {
  content: "⁄ ⁄ ⁄";
  white-space: pre;
}

/* Dynamic classes will be generated here by postcss-kaomoji-plugin */
